{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} {% block
content %}
<div class="container">
  <div class="table-container mt-4">
    <h2>{{ title }}</h2>
    {% if records %}
    <p>Total number of records: {{ records|length }}</p>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="sortable" data-column="ID">ID</th>
            <th class="sortable" data-column="Name">Last Name</th>
            <th class="sortable" data-column="Name">First Name</th>
            <th class="sortable" data-column="List">List</th>
            <th class="sortable" data-column="Type">Type</th>
            <th class="sortable" data-column="Program">Program</th>
            <th class="sortable" data-column="Program">Date of Birth</th>
            <th class="sortable" data-column="Program">Place of Birth</th>
            <th class="sortable" data-column="Program">Citizenship</th>
            <th class="sortable" data-column="Program">Nationality</th>
            <th class="sortable" data-column="Program">Remarks</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td>
              <a href="/individual_details/{{ record.ID }}">{{ record.ID }}</a>
            </td>
            <td>{{ record['Last Name']}}</td>
            <td>{{ record['First Name']}}</td>
            <td>{{ record.List }}</td>
            <td>{{ record.Type }}</td>
            <td>{{ record.Program }}</td>
            <td>
              {% if record['Date of Birth']%}{{record['Date of Birth']}}
              {%endif%}
            </td>
            <td>
              {% if record['Place of Birth']%}{{record['Place of Birth']}}
              {%endif%}
            </td>
            <td>{% if record.Citizenship %}{{ record.Citizenship}}{%endif%}</td>
            <td>{% if record.Nationality %}{{ record.Nationality}}{%endif%}</td>
            <td>{% if record.Remarks %} {{ record.Remarks}} {%endif%}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <p>No records found.</p>
    {% endif %}
  </div>
</div>
<script src="{{ url_for('static', filename='base.js') }}"></script>
{% endblock %}
